doctype html
html
  head
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no")
    link(rel="stylesheet" href="angular-material/angular-material.css")
  body(ng-app='csvApp')
    h1 CSV Explorer
    div(ng-controller="dataController")
      a(href ng-click="showSource = !showSource") Upload a CSV
      div(ng-show="showSource")
        p Paste the CSV source here.
        textarea(ng-model="data")
      p {{data}}
    p thefooter
    script(src='angular/angular.js')
    script(src="/angular-aria/angular-aria.js")
    script(src="/angular-animate/angular-animate.js")
    script(src="/angular-material/angular-material.js")
    script(src='js/app.js')
    script(src='js/controllers.js')